<table id="search-results" class="pt-4 table table-striped">
    <thead>
      <tr>
        <th scope="col">ITEM #</th>
        <th scope="col">TRACKING #</th>
        <th scope="col">LOCATION</th>
        <th scope="col">TIME SCANNED</th>
        <th scope="col">TIME UPLOADED</th>
        <th scope="col">SCAN UUID</th>
      </tr>
    </thead>
    <tbody>
        {% for scan in scans  %}
      <tr>
        <th scope="row">{{scan.sku}}</th>
        <td>{{scan.tracking}}
        {% if scan.location == 301 %}
        <td>FRANKFORD</td>
        {% elif scan.location == 201 %}
        <td>RED LION</td>
        {% elif scan.location == 101 %}
        <td>TEST</td>
        {% elif scan.location == 401 %}
        <td>ERIE</td>
        {% else %}
        <td>{{scan.location}}</td>
        {% endif %}
        <td>{{scan.time_scan}}</td>
        <td>{{scan.time_upload}}</td>
        <td>{{scan.scan_id}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
