{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}RLF SCANS{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}

    {% endblock %}
    {% block javascript %}
    {% endblock javascript %}
  <style>
    /* unvisited link */
    a:link {
      color: black;
      text-decoration: none;
    }
    /* visited link */
    a:visited {
      text-decoration: none;
      color: black;
    }
    /* mouse over link */
    a:hover {
      color: black;
    }

    /* selected link */
    a:active {
      color: black;
    }
  </style>
  </head>

  <body
  style="text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif; letter-spacing: 0.05em; font-size: 12px; color: #8B8A86">
  <div style="padding-top: 15; padding-bottom: 15; background-color: #f8f9fa!important;">
	  <ul style="font-size: 16px;">
      <li style="color: black;  padding-left: 48px; padding-right: 30px; display: inline;"><a href="{% url 'frontend:search' %}">RLF SCANS</li>
      {% if user.is_authenticated %}
      <li style="color: black; padding-right: 30px; display: inline;"><a href="{% url 'frontend:search' %}">ALL SCANS</a></li>
      <li style="color: black; padding-right: 30px; display: inline;"><a href="{% url "failed-list" %}">FAILED</a></li>
      <li style="color: black; padding-right: 30px; display: inline;"><a href="{% url 'account_logout' %}">SIGN OUT</a></li>
      {% else %}
      <li style="color: black; padding-right: 30px; display: inline;"><a href="{% url 'account_login' %}">SIGN IN</a></li>
      {% endif %}
	  <ul>
  </div>


    <div class="pt-5 container">
	    <div style="height: 30px"></div>

      {% comment %} {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %} {% endcomment %}
      {% block content %}

      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })    </script>
    {% endblock inline_javascript %}

    <div class="footer" style="height: 100px;">
    </div>

  </body>
</html>
