{% extends 'base.html' %}

{% block content %}

{% csrf_token %}

<div class="pt-5 pb-5 text-center">
<h1>BDDW SCANS</h1>
</div>
<input class="mb-3" type="search"
       name="search" placeholder="sku or scan uuid"
       hx-post="{% url 'search' %}"
       hx-trigger="keyup changed delay:500ms, search"
       hx-target="#search-results"
       hx-swap="outerHTML">
<table id="search-results" class="pt-4 table table-striped">
    <thead>
      <tr>
        <th scope="col">ITEM #</th>
        <th scope="col">TRACKING #</th>
        <th scope="col">LOCATION
          <a href="{% url 'sorting' %}?sorting=-location"><span style="font-size: 14px;">&#x2191;</span></a>
          <a href="{% url 'sorting' %}?sorting=location"><span style="font-size: 14px;">&#x2193;</span></a>

        </th>
        <th scope="col">TIME SCANNED
          <a href="{% url 'sorting' %}?sorting=-time_scan"><span style="font-size: 14px;">&#x2191;</span></a>
          <a href="{% url 'sorting' %}?sorting=time_scan"><span style="font-size: 14px;">&#x2193;</span></a>
        </th>
        <th scope="col">TIME UPLOADED
          <a href="{% url 'sorting' %}?sorting=-time_upload"><span style="font-size: 14px;">&#x2191;</span></a>
          <a href="{% url 'sorting' %}?sorting=time_upload"><span style="font-size: 14px;">&#x2193;</span></a>
        </th>
        <th scope="col">SCAN UUID</th>
      </tr>
    </thead>
    <tbody>
        {% for scan in scans  %}
      <tr>
        <th scope="row"><a href="{% url 'by-sku' scan.sku %}">{{scan.sku}}</a>
        <td>{{scan.tracking}}
        {% if scan.location == 301 %}
        <td>FRANKFORD</td>
        {% elif scan.location == 201 %}
        <td>RED LION</td>
        {% elif scan.location == 101 %}
        <td>TEST</td>
        {% elif scan.location == 401 %}
        <td>ERIE</td>
        {% elif scan.location == 501 %}
        <td>NEW YORK</td>
        {% elif scan.location == 601 %}
        <td>LONDON</td>
        {% elif scan.location == 602 %}
        <td>LONDON TWO</td>
        {% else %}
        <td>{{scan.location}}</td>
        {% endif %}
        <td>{{scan.time_scan}}</td>
        <td>{{scan.time_upload}}</td>
        <td>{{scan.scan_id}}
          <a href="https://bddwskuapi.bddwapps.com/api/{{scan.sku}}/">...</a></th>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}
