{% extends 'base.html' %}

{% block content %}

{% csrf_token %}

<div class="pt-5 pb-1 text-center">
<h1>UPLOAD SCANS</h1>
<p>TLDR; Use this to make changes to existing scans. Do not use this to add new scans. Scans are queried by scan_id. See exports below for formatting.</p>
<ul class="text-start">
    <li>
				<a class="" style="text-decoration: underline; font-size: 12px" href="{% url 'export-latest' %}">EXPORT LAST SCANS UNIQUE (BY TN)</a>
		</li>
</ul>
</div>

<div>
	<form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="file" name="file">
            <small>Only accepts CSV files</small>
            <button type="submit">Upload</button>
        </form>
</div>
{% endblock content %}
